.containerButton {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.buttonForm {
  background-color: var(--quaternary-color);
  border-radius: var(--border-radius-10);
  font-weight: var(--font-weight-700);
  font-size: var(--font16);
  padding: 1.25rem;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  margin: 1rem 0;
}

.buttonForm:hover {
  color: var(--section-front-background);
}
